
/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.pagination {
  display: inline-block;
}

.pagination a {
    color: #31A68B;
    float: left;
    padding: 7px 13px;
    text-decoration: none;
    border-radius: 50%;
    border: solid 1px #31A68B;
    margin: 4px;
}

.pagination a.active {
  background-color: #31A68B;
  color: white;
  transform: scale(1.1);
}

.pagination a:hover:not(.active) {
	transform: scale(1.1);
}

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}


body {
	color: #767676;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	font-size:15px;
	/*font-family: 'Merriweather', serif;*/
	font-family: gzipper, Arial, Helvetica, sans-serif;
}

.rodape{
	padding: 10px 20px 0 20px;https://www.facebook.com/photo.php?fbid=2194407857306515&set=pcb.2731808766847110&type=3&theater#
    background: #EFEFEF;
    text-align: right;
    float: left;
    width: 100%;
}

.rodape.inside{
    bottom: 0;
    position: absolute;
}

.rodape p{
    font-size: 12px; 
    font-family: 'Merriweather', serif;
}

.single_banner_text img{
	padding: 10px;
    width: 240px;
}
/*==========================================
PRE LOADER 
==========================================*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/preloading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
.top-margin {
	margin-top: 96px;
}
.bottom-margin {
	margin-bottom: 96px;
}
img{max-width:100%;}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-control {
	border: 0px solid transparent;
	font-size: 16px;
	font-family: 'Merriweather', serif;	
	height: 45px;
	border-bottom:1px solid #000;
	background-color: rgba(255, 255, 255, 0);
	border-radius:0;
	-webkit-box-shadow:0;
	box-shadow:inset 0 0px 0px rgba(0,0,0,0.075);
}
.form-control:focus {
	border-color: #c2d051;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
p {
	font: normal 16px "Myriad Pro", arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 { color: #767676;}

h1 {
	font-size: 48px;
	line-height: 50px;
	font-weight: 600;
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
}

h2 {
	font-size: 35px;
	line-height: 38px;
	font-weight: 600;
	font-family: 'Merriweather', serif;
	margin: 0;
}

h3 {
	font-size: 30px;
	line-height: 32px;
	font-weight: 600;
	font-family: "Myriad Pro" , sans-serif;
	text-transform: uppercase;
	margin: 0;
}


h4 {
	font-size: 24px;
	line-height: 26px;
	font-weight: 600;
	font-family: "Myriad Pro" , sans-serif;
	text-transform: uppercase;
	}

h5 {
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
	font-family: "Myriad Pro" , sans-serif;
	text-transform: uppercase;
	margin: 0;
	text-decoration: none;
}

h6 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	font-family: "Myriad Pro" , sans-serif;
	text-transform: uppercase;
	margin: 0;
	text-decoration: none;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}

a:hover{
	text-decoration:none;
}
.btn {
	border: 1px solid #3c3c3c;
	display: inline-block;
	min-width: 100px;
	padding: .9em;
	height: 50px;
	text-align: center;
	color: #3c3c3c;
	font-style: normal;
	letter-spacing: 1px;
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	border-radius:0;
	margin-top:30px;
    background: transparent;
    text-transform: uppercase;
}
.btn:hover {
	box-shadow: 0 0 3px #888;
}

.pink-btn {
	background: #e0356e;
	border: none;
	margin-left: 10px;
}

.pink-btn:hover {

	background-color: #f79b23;
	color: #fff;
	text-decoration: none;
}
.sections {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
	
}
.separetor{
	background:url(../images/spr.png) no-repeat center center;
	overflow:hidden;
	padding:20px 0px 30px 0px;
}
.separetor.invert{
	filter: invert(100%);
}
.scrolldown {
	padding-top: 24px;
}

.banner .scroll_btn {
	background: url(../images/scroll.gif) 50% 50% no-repeat rgba(215, 181 ,94, 0);
	border: 2px solid #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	height: 45px;
	margin: 42px auto;
	-webkit-transition: all 500ms ease-in-out 0s;
	-moz-transition: all 500ms ease-in-out 0s;
	-ms-transition: all 500ms ease-in-out 0s;
	-0-transition: all 500ms ease-in-out 0s;
	transition: all 500ms ease-in-out 0s;
	width: 45px;
	position:absolute;
	left:50%;
	bottom:0;
}

.banner .scroll_btn:hover {
	background: url(../images/scroll.gif) 50% 50% no-repeat #f3c30f;
	opacity: .85;
	-moz-opacity: .85;
	-o-opacity: .85;
	-webkit-opacity: .85;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);

}



/* navbar section */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
	left: 0; 
	right: 0; 
	z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: #fff;
	height:107px;
	
}
.main_menu_bg{
	margin-top:0px;
}
.main_menu_bg .navbar-default {
    background-color: transparent; 
    border-color: transparent; 
	transition:.6s;
}
.container-fluid {
    margin-top: 20px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color:#3c3c3c;
}
.menu_page:not(.menu-scroll) .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color:#d2d2d2;
}
.main_menu_bg .navbar {
    margin-bottom:0px;
}
.main_menu_bg .navbar-default .navbar-nav>.active>a{
	border:1px solid transparent;
}
.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color:#3c3c3c;
	background-color:transparent;
	border:1px solid #666;
	text-transform:uppercase;
}

.navbar-right {
    padding: 10px;
}

.main_menu_bg .navbar-nav>li>a, .main_menu_bg .navbar-nav>li>.dropdown{
	padding-top:10px;
	padding-bottom:10px;
	color: #000;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Amatic SC', cursive;
}

.main_menu_bg.menu_page:not(.menu-scroll) .navbar-nav>li>a, .main_menu_bg.menu_page:not(.menu-scroll) .navbar-nav>li>.dropdown{
	color: #fff;
}

.main_menu_bg .navbar-nav>li>.dropdown{
  position: relative;
  display: inline-block;
  padding:0 15px;
  background: transparent;
  cursor: default;
  height: 40px;
  line-height: 40px;
}

.main_menu_bg .navbar-nav>li>.dropdown.active{
	border: 1px solid #666;
}

.main_menu_bg.menu_page:not(.menu-scroll) .navbar-nav>li>.dropdown.active, .main_menu_bg.menu_page:not(.menu-scroll) .navbar-default .navbar-nav>.active>a{
	border: 1px solid #d2d2d2;
}


.main_menu_bg .navbar-nav>li>.dropdown .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    z-index: 1;
    left: -25%;
    text-align: center;
    animation: dropdwon 0.3s;
    top: unset;
}

.main_menu_bg .navbar-nav>li>.dropdown .menu-scroll {
    animation: none !important;
    height: unset;
}

.main_menu_bg .navbar-nav>li>.dropdown .dropdown-content a{
	color: #000;
	font-size: 25px;
}

.main_menu_bg.menu_page:not(.menu-scroll) .navbar-nav>li>.dropdown .dropdown-content a{
	color: #fff;
}

.main_menu_bg .navbar-nav>li>.dropdown .dropdown-content a:hover {
	color: #3c3c3c;
}

.main_menu_bg.menu_page:not(.menu-scroll) .navbar-nav>li>.dropdown .dropdown-content a:hover {
	color: #d2d2d2;
}

.main_menu_bg .navbar-nav>li>.dropdown:hover .dropdown-content {
	display: block;
} 

@keyframes dropdwon {
  from {bottom: -110px}
  to {bottom: -85px}
}

@keyframes dropdwonscroll {
  from {bottom: -130px}
  to {bottom: -105px}
}


/* Banner section */

.banner{
	background:url(../images/bg.png) no-repeat;
	position:relative;
	background-size:cover;
    background-position-y: -50px;
    height: 100vh;
}

/*.banner.menu{
    background-position-y: 50%;
    height: 48vh;
}*/

.banner.menu{
    height: 310px;
    width: 100%;
    box-shadow: 0 0 10px #484848;
    background-position-y: center;
    filter: brightness(70%) saturate(115%);
}
.banner.contato{
    background: url(../images/bg2.jpg) no-repeat;
    filter: opacity(90%);
    background-size: cover;
    background-position-y: -40px;
}

.main_banner_area{
	padding:300px 0px;
	overflow:hidden;
}

.single_banner_text p{
	font-size:40px;
	color:#3c3c3c;
}




/* features section */
.features{
	background:#44AD95;
}
.features.vi{
	background: #44AD95;
    background-image: url(http://negahtejarat.com/wp-content/uploads/2014/07/milky-1030x531.png);
    /*background-size: 43%;*/
    background-size: 530px;
    background-repeat-y: no-repeat;
    background-position-y: bottom;
    padding-bottom: 200px;
}
.sinle_features{
	margin:50px 0px;
}

.sinle_features .round{
	box-shadow: 0 0 1px 4px #EBD243;
    border-radius: 50%;
    background: #fff;
}
.sinle_features h5{
    margin-bottom: 40px;
    color: #EBD243;
    font-weight: 100;
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
}
.sinle_features p{
	color:#fff;
	font-weight:300;
	font-size:17px;
	font-family: 'Shadows Into Light Two', cursive;
}
.sinle_features a{
	margin: 20px 0 10px 0;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
}
/* Special Section */
.special{}

.main_special{
    padding-bottom: 100px;
    overflow: hidden;	
}

.single_special{
	padding:0;
	
}
.single_special_img{
	position:relative;
}
.single_special_img:hover .single_special_overlay{
	opacity:1;
}

.single_special_overlay{
	background:rgba(221, 221, 221, 0.8);
	padding:20px 10px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transition:.6s;
	opacity:0;
}
.overlay_separetor {
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
    width: 50%;
    margin: 0 auto;
}
.single_special_overlay h3{
	color:#666;
	font-size:18px;
}
.single_special_overlay p{
	color:#666;
	font-size:16px;
	font-weight:300;
	margin-top:20px;
}


/* Abouts Section */
.head_title{
	padding-bottom:50px;
}
.abouts{
	background:#efefef;
}
.abouts.vi{
	background:#fff;
}
.abouts.vi.milk{
	background: url(../images/milk.drop.png) no-repeat right 38px;
}
.abouts.vi.gloves{
	background: url(../images/gloves.png) no-repeat left 80px;
    background-size: 50%;
}
.abouts.li.info{
	background: url(../images/info.png) no-repeat left 20px;
}
.abouts.li.new{
	background: url(../images/noticias.png) no-repeat right 20px;
}
.abouts.li{
	background:#fff;
}
.single_abouts p{
	font-size:30px;
	font-weight:300;
	/*text-align:center;*/
	font-family: 'Shadows Into Light Two', cursive;
}
.abouts.vi .single_abouts p{
	font-size: 24px;
    font-family: 'Lobster Two', cursive;
}
.abouts.vi .single_abouts p img, .abouts.li .single_abouts p img{
	width: 17px;
}
.abouts.li h2{
	font-size: 25px;
}
.abouts.li .single_abouts p{
	font-size: 17px;
    font-family: 'Shadows Into Light Two', cursive;
    color: #767676;
}
.abouts.li.single .single_abouts p{
	font-size: 15px;
    font-family: 'Merriweather', serif;
}
.abouts.li .single_abouts p b{
	font-family: 'Lobster Two', cursive;
    font-size: 27px;
    color: #656565;
}
.abouts.li .livro{
	width: 100%;
    box-shadow: 0 0 10px #484848;
}
.single_abouts.xs p{
	font-size:25px;
}
.main_servicos li{
	font-family: 'Lobster Two', cursive;
    font-size: 17px;
    margin-bottom: 17px;
    /*color: #44AD95;*/
}
.main_servicos li .check{
	width: 25px;
    margin-right: 10px;
    opacity: 0.4;
}

.signature_img{}


/* Menus Section */
.main_menus{
	overflow:hidden;
}
.menus_top_menu{
	margin-bottom:50px;
}
.menus_top_menu li{
	display:inline-block;
}
.menus_top_menu a{
	border:1px solid transparent;
	color:#3c3c3c;
	padding:5px 10px;
	display:block;
	transition:.6s;
}
.menus_top_menu a:hover{
	border:1px solid #b1b1b1;
	color:#000;
	padding:5px 10px;
	display:block;	
}

.single_menus{
	padding-bottom:60px;
}
.single_menus ul li{
	margin-bottom: 35px;
	font-size:18px;
	font-weight:300;
}
.single_menus ul li span{
	font-size:14px;
	font-style:italic;
	font-weight:300;
	display:block;
}


/* Contact Section */

.main_contact_content{
	
}
.single_contact{
    margin-bottom: 80px;
	margin-left:10px;
}
.single_contact h5{
	margin-bottom:10px;
}
.single_contact span{
	display:block;
}

.contact_form_area{}

.contact_form_area h3{
	font-size:18px;
	text-transform:uppercase;
	padding:12px;
	margin-bottom:20px;
}
.form_btn_area{
	
}



/* footer section */
.footer{
	background:url(../images/footerbg.jpg) no-repeat center top;
	background-size:cover;
	padding-top:80px;
}

.copyright_text_area{
    display: block;
    padding: 40px 0px 20px 0px;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 60px;
}
.single_footer p{
	padding:5px;
}
.single_footer p i{
	color:#ff0000;
	padding:0px 10px;
}
.single_footer p a {
	color:green;
	padding:0px 10px;
}

.single_footer .footer_socail a{
	border:1px solid #666;
	padding:5px;
	font-size:20px;
	width:30px;
	height:30px;
	display:inline-block;
	color:#666;
	line-height:20px;
	text-align:center;
}
.single_footer .footer_socail a:hover{
	color:#3c3c3c;
	border-color:#3c3c3c;
	
}


/* scrollup */

.scrollup{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	opacity: .3;
	position: fixed;
	bottom: 20px;
	right: 25px;
	color: #fff;
	cursor: pointer;
	background-color: #000;
	z-index: 1000;
	transition: opacity .5s, background-color .5s;
	-moz-transition: opacity .5s, background-color .5s;
	-webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
	background: #000;
	opacity: 1;
}

.scrollup i {
	font-size: 13px;
	position: absolute;
	opacity: 1;
	color: #fff;
	left: 50%;
	top: 50%;
	margin-top: -7px;
	margin-left: -6px;
	text-decoration: none;

}

.margin-auto{
	margin: auto !important;
	float: none;
}


@media (min-width: 984px){
	.hidden-md{
		display: none;
	}

	.hidden-sm{
		display: block;
	}

	.hidden-xs{
		display: block;
	}

	.col-xs-offset-3{
	margin: 0;
	}
}

@media (max-width: 984px){
	.banner{
	    background-position-y: 0;
	}

	img.round{
		width: 50% !important;
	}

	.hidden-sm{
		display: none;
	}

	.under{
		z-index: 0;
	}

	.under-img{
		position: absolute;
		opacity: .6;
	}

	.head_title{
		float: none !important;
	}
}


@media (max-width: 768px){
	.nave_menu .navbar-collapse{
		width: 100%;
		margin: -40px 0;
		float: right;
		overflow: hidden;
		border: none;
	}

	.nave_menu .navbar-collapse ul{
	    background: rgba(255, 255, 255, .7);
		box-shadow: 0 0 5px #ccc;
		width: 160px;
		text-align: center;
		float: right;
	}

	.nave_menu .navbar-collapse ul li .dropdown{
	    width: 160px;
	    padding: 0;
	    margin-left: -10px;
	}


	.nave_menu .navbar-collapse ul li .dropdown .dropdown-content{
	    position: absolute;
		top: -20px;
		left: -161px;
		z-index: 999;
		width: 80px;
		background: rgba(255,255,255,.7);
		animation: none;
		color: #3c3c3c;
	}
	.main_menu_bg.menu_page:not(.menu-scroll) .navbar-nav>li>a, .main_menu_bg.menu_page:not(.menu-scroll) .navbar-nav>li>.dropdown .dropdown-content a{
		color:#000;
	}
	.main_menu_bg.menu_page:not(.menu-scroll) .navbar-nav>li>.dropdown{
	    color: #3c3c3c;
	    background-color: transparent;
	    text-transform: uppercase;
	}

	.menu_page:not(.menu-scroll) .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,.main_menu_bg.menu_page:not(.menu-scroll) .navbar-nav>li>.dropdown .dropdown-content a:hover{
		color: #3c3c3c;
	}

	.main_menu_bg.menu_page:not(.menu-scroll) .navbar-nav>li>.dropdown.active, .main_menu_bg.menu_page:not(.menu-scroll) .navbar-default .navbar-nav>.active>a{
	    border: 1px solid #666;
	}

	.container {
	    width: 80%;
	}	

	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #000;
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	    background-color: rgba(0,0,0,.1);
	}	
	.hidden-xs{
	display: none;
	}

	.hidden-md{
		display: block;
	}

	.over{
		z-index: 9;
	}


	textarea.form-control {
	    height: 60px;
	}

	.form-control{
		background: rgba(255,255,255,.6) !important;
	}

	.banner.contato {
	    background-position-y: 5px;
	}
}
@media (max-width: 768px){
	.container {
	    width: 100%;
	}
}